<!DOCTYPE html>
<html>
<head>
  <title>Taskly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid" id="main-container">
	<div class="row-fluid">
		<div id="top_bar" class="span12">
		  <% if logged_in? %>
		    <p>Hello,  <%= current_user.name %> - <%= link_to 'Logout', logout_path, method: 'DELETE' %></p>
		  <% else %>
		    <p>
		      <%= link_to 'Signup', signup_path %> | 
		      <%= link_to 'Login', login_path %>
		    </p>
		  <% end %>
		</div>
	</div>
	<div class="row-fluid">
		<%= yield %>
	</div>
</div>
<%= debug(params) if Rails.env.development? %>
</body>
</html>
